/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    background: rgb(147, 199, 232);
}

.wrapper {
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 38px;
    background: #fff;
}

.wrapper h1 {
    font-size: 38px;
    font-weight: 500px;
    margin: 30px 0;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.content.disable {
    opacity: 0.6;
    pointer-events: none;
}

.content .column {
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.column select {
    outline: none;
    border: none;
    height: 50px;
    width: 100%;
    font-weight: 500px;


}

.wrapper button {
    width: 100%;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    padding: 17px 0;
    color: #fff;
    background: #ff95dd;
    cursor: pointer;
}